// MyDesign forms

.form {
	padding: 10px;

	font: {
		size:$font-form-size;
		family: $font-form;
	}

	input {
		padding: 5px 10px;

		font: {
			size:$font-form-size;
			family: $font-form;
		}

		&[type=submit]{
			background: #FFFFFF;
			border: 2px solid #a0a0a0;
		}
	}
}
