/* Default Colors */
$color_primary   : rgb(200,100,45);
$color_secondary : #FFFFFF;
$color_tertiary  : #0000FF;

/* Dark and Light Colors */
$color_dark      : #A0A0A0;
$color_light     : #D1D1D1;

/* Button Colors */
$color_ok        : rgb(5,130,30);
$border_ok       : darken($color_ok,10%);
$color_cancel    : rgb(255,0,0);
$border_cancel   : darken($color_cancel,10%);
$color_close     : rgb(255,180,0);
$border_close    : darken($color_close,10%);

$button_group_color   : rgb(200,100,45);
$button_group_border  : darken($button_group_color, 10%);

$button_text_color    : #FFFFFF;